body {
  background-image: url(messala-ciulla-iajsWsOZNWk-unsplash.jpg);
  background-size: 100vw;
  color: #333;
  margin: 0px 0px;
  padding: 0px 20px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100vw;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: white;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

table {
  margin-left: 300px;
}

th {
  padding-bottom: 5px;
  color: white;
  font-size: 30px;
}

td {
  padding: 0 5px 7px;
  font-size: 30px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  color: white;
}

h1 {
  color: white;

}
.box {
  margin: 300px 600px;
}

label {
  display: block;
}

textarea {
  width: 200px;
}

input {
  margin-bottom: 5px;
  font-size: 10px;
}

input#post_youtube_url {
  width: 200px;
  height: 30px;
}