p {
  margin: 80px 300px;
}

a{
  font-size: 20px;
}

.container {
  margin-left: 300px;
  a {
    font-size: 30px;
  }
}

.comments {
  margin-left: 300px;
  h4 {
    color: white;
    font-size: 15px;
  }
}

strong {
  font-size: 20px;
  #text {
    font-size: 20px;
  }
}

